* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color:rgb(154, 193, 211);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: rgb(238, 238, 238);
    width: 100vw;
    margin-left: -20px;
    margin-right: -20px;
}
.logo-container {
    background-color: rgb(15, 15, 99);
    color: #ece5e5;
    display: flex;
    border-radius: 60px;
    padding: 10px;
    font-size: 18px;
}
.texto-contabilidade {
    font-size: 18px;
    margin-left: 10px;
}
.F {
    color: #1481ca;
}
.pagina:hover {
    font-size: 1.2rem;
    color: #1481ca;
    
}
.menu {
    display: flex;
    gap: 20px;
}
.pagina {
    transition: 0.7s ease;
    gap: 20px;
}
.menu a {
    color: #050505;
    text-decoration: none;
    font-weight: bold;
}

#contato:hover {
    font-size: 1.4rem;
}

#contato {
    background-color: #1481ca;
    color: rgb(5, 5, 5);
    padding: 1px 10px;
    border-radius: 5px;
    transition: 0.7s ease;
}

.inicio {
    font-size: 4rem;
    color: rgb(7, 7, 7);
    padding: 1px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.descricao {
    margin-top: 15px;
    font-size: 2rem;
    
}
.conteudo {
    color: #050505;
    font-size: 17px;
    padding: 10px 50px;
    text-align: center;
}
.agende {
  background-color: #1481ca;
    color: #ece5e5;
}
#ver-servicos {
  background-color: #1481ca;
    color: #000000;
}
.conteudo a{
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    color: #131212;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
    font-weight: bold;
}
.imagemgrafico {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#servicos {
    flex-direction:column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #1088dd;
} 
.grafico {
    background-color: #dee0e2;
    font-size: 2rem;
    text-decoration: none;
    color: #000000;
    padding: 10px 20px;
    margin-bottom: 0;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #0d0d0e;
}
#formulario {
    margin-top: 10px;
    padding: 20px;
    border-radius: 5px;
    width: min(90%, 630px);
    max-width: 630px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.planejamento-container {
    border : 2px solid #0d0d0e;
    background-color:#1088dd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 0 20px 0;
    border-radius: 10px;
    padding: 10px;
}
.planejamento {
    
    font-size: 18px;
    color: #000000;
    width: 50%;
    line-height: 1.5;
    text-align: justify;
    margin-left: 50px;
}
.solicitar-orcamento {
    background-color: #ffffff;
    border: 2px solid #0d0d0e;
    color: #080808;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 70px;
}
.gestao {
    border: 2px solid #0d0d0e;
    background-color: #dee0e2;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 2rem;
    text-decoration: none;
    color: #000000;
    padding: 10px 20px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
}
.gestao-container {
    border: 2px solid #0d0d0e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 0 20px 0;
    background-color: #1088dd;
    border-radius: 10px;
    padding: 10px;
}
.gestao-texto {
    font-size: 18px;
    color: #000000;
    width: 50%;
    line-height: 1.5;
    text-align: justify;
    margin-left: 50px;
}
.solicitar-orcamento2 {
    background-color: #ffffff;
    border: 2px solid #0d0d0e;
    color: #080808;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 70px;
}
.contabilidade{
    border: 2px solid #0d0d0e;
    background-color: #dee0e2;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 2rem;
    text-decoration: none;
    color: #000000;
    padding: 10px 20px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    border-radius: 10px;
}
.contabilidade-container {
    border: 2px solid #0d0d0e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 0 20px 0;
    background-color: #1088dd;
    border-radius: 10px;
    padding: 10px;
}
.contabilidade-texto {
    font-size: 18px;
    color: #000000;
    width: 50%;
    line-height: 1.5;
    text-align: justify;
    margin-left: 50px;
    font-weight: normal;
}
.solicitar-orcamento3 {
     border: 2px solid #0d0d0e;
    color: #080808;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 70px;
    background-color: #ffffff;
}
.rural {  
    border: 2px solid #0d0d0e;  
    background-color: #dee0e2;
     margin-top: 20px;
    margin-bottom: 0;
    font-size: 2rem;
    text-decoration: none;
    color: #000000;
    padding: 10px 20px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    border-radius: 10px;
}
.rural-texto {
     font-size: 18px;
    color: #000000;
    width: 50%;
    line-height: 1.5;
    text-align: justify;
    margin-left: 50px;
    font-weight: normal;
}
.rural-container {
    border: 2px solid #0d0d0e;
    background-color: #1088dd;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 0 20px 0;
    padding: 10px;
}
.solicitar-orcamento4 {
      border: 2px solid #0d0d0e;
    color: #080808;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 70px;
    background-color: #ffffff;
}
#sobre1{

    color: rgb(15, 15, 99);
    font-size: 2rem;
    margin: 40px auto 30px auto;
    padding: 2px 0;
    width: min(90%, 1100px);
    max-width: 1100px;
    height: auto;
    text-align: center;
}

.logo {
    display: block;
    margin-top: 0;
}
.sobre {
    color: rgb(0, 0, 0);
    padding: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    gap: 20px;
    background-color: #ffffff;
    border-radius: 15px;
}
.sobre-textos {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}
.sobre-list {
    margin: 0;
    color: rgb(0, 0, 0);
    justify-content: space-between;
}
.sobre-list li {
    margin-bottom: 6px;
    align-items: center;
}
.fale {
    margin-left: 20px;
    font-size: 2rem;
    margin-top: 30px;
}
.preencha {
    margin-left: 20px;
}
.form-row {
    display: flex;
    flex-direction: column;
    gap: 1rem; 
    margin-bottom: 1rem;    
}
.form-row input { 
    flex: 1; 
    padding: 0.75rem; 
    border: 1px solid  #1088dd; 
    border-radius: 8px; 
}
.enviar { 
    display: inline-block;
    text-decoration: none;
    padding: 0.75rem 1rem;
    border-radius: 15px;
    font-weight:600;
    background-color: #1088dd;
    color: #ffffff;
    width: 160px;
}
.site-footer {
    border: 1.5px solid #0d0d0e;
    color: #ffffff;
    padding: 10px 40px;
    width: 100vw;
    margin-left: -20px;
    margin-bottom: -20px;
    background-color: rgb(15, 15, 99);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.site-footer a{
    color: #f0f0f0;
    gap: 10px;
    display: flex;
}